<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    id="WebApp_ID" version="6.0">
    <display-name>task-manager</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.xhtml</welcome-file>
    </welcome-file-list>


    <!-- Servlets -->

    <servlet>
        <servlet-name>OrgServlet</servlet-name>
        <servlet-class>com.task.servlet.OrgServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrgServlet</servlet-name>
        <url-pattern>/api/v1/orgs/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.task.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/api/v1/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.task.servlet.TaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/api/v1/tasks/*</url-pattern>
    </servlet-mapping>


</web-app>